@import '../../_variables';

form {
  display: flex;
  flex-direction: column;
  padding: 40px 0;
  background-color: rgb(240, 244, 245);
  align-items: center;
  @media screen and (min-width: $breakpoint) {
    flex: 1;
  }

  label {
    margin: 0 0 2px 0;
    width: 300px;
  }
  input,
  select {
    border-radius: 4px;
    padding: 8px;
    margin: 0 0 16px 0;
    height: 40px;
    font-size: 18px;
    width: 300px;
    max-width: 100%;
    border: 1px solid lightgray;
  }

  select {
    padding: 0px 8px;
  }

  .error-message {
    color: red;
    font-weight: 500;
    margin: 0 0 8px 0;
    position: relative;
    bottom: 12px;
    left: 4px;
    font-size: 12px;
    width: 300px;
    line-height: 1.4;
  }
}
