@import './_variables';

.App {
  border: 1px solid lightgray;
  display: flex;
  flex-direction: column;
  @media screen and (min-width: $breakpoint) {
    flex-direction: row;
  }

  img[alt='placeholder'] {
    display: block;
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    @media screen and (min-width: $breakpoint) {
      flex: 1;
      max-width: 50%;
    }
  }
}

.response {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.strong{
  font-weight: 600;
  color: currentColor;
}

.response--error {
  .message {
    span {
      color: red;
    }
  }
}
.response--success {
  .message {
    span {
      color: green;

    }
  }
}
